<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <webSocket enabled="false"/>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="StaticContent">
                    <action type="Rewrite" url="app{REQUEST_URI}"/>
                </rule>

                <rule name="DirectoryWithSlash" stopProcessing="true">
                    <match url=".*/$"/>
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}index.html" matchType="IsFile"/>
                    </conditions>
                    <action type="Rewrite" url="{R:0}index.html"/>
                </rule>

                <rule name="DirectoryWithoutSlash">
                    <match url="(app)(.*/.+[^/]$)"/>
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}/index.html" matchType="IsFile"/>
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="{R:2}/"/>
                </rule>

                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server.js"/>
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough"/>
        <iisnode watchedFiles="web.config;*.js"/>
    </system.webServer>
</configuration>