<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <webSocket enabled="false"/>
        <handlers>
            <add name="iisnode" path="app/server.js" verb="*" modules="iisnode"/>
        </handlers>
        <defaultDocument enabled="true">
            <files>
                <add value="index.html"/>
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="StaticContent">
                    <action type="Rewrite" url="app{REQUEST_URI}"/>
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough"/>
        <iisnode watchedFiles="web.config;*.js"/>
    </system.webServer>
</configuration>
